#injection-ext {
    color: inherit;
    background-color: inherit;
    text-align: center;
    font-size: 25px;
    position: relative;
}

#injection-ext__button {
    font-size: 10px;
}

.injection-ext__icon {
    width: 20px;
    height: 20px;
    padding: 1px;
}